 {% extends 'student/base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}


<div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Profile Updation</h4>

              <!-- Basic Layout & Basic with Icons -->
              <div class="row">
                <!-- Basic Layout -->
                <div class="col-xxl">
                  <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="mb-0">Student Details</h5>
<!--                      <small class="text-muted float-end">Default label</small>-->
                    </div>
                    <div class="card-body">
            <form
              class="row contact_form"
              action=""
              method="post"
              id="contactForm"
              novalidate="novalidate"
            >
               {% csrf_token %}
              <div class="col-md-6">
                <div class="form-group">
                    <label>Is hosteler or Not</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="host"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your name'"
                    required=""
                  />
                </div>
                <div class="form-group">
                    <label>If hosteler then Frequency of visiting home</label>
                  <input
                    type="text"
                    class="form-control"
                    id="fre"
                    name="fre"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                <div class="form-group">
                    <label>If not hosteler then stay Details</label>
                  <input
                    type="text"
                    class="form-control"
                    id="subject"
                    name="st"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Place'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Mode of Conveyance</label>
                  <input
                    type="text"
                    class="form-control"
                    id="wf"
                    name="con"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>entrance rank</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="et"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Work Experience</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="ex"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                   <div class="form-group">
                    <label>Extra-curricular Activities</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="curi"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                   <div class="form-group">
                    <label>Language Proficiency</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="lp"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                   <div class="form-group">
                    <label>Other Achievements</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="ach"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                   <div class="form-group">
                    <label>Personal Goal</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="pg"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                   <div class="form-group">
                    <label>Professional Goal</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="go"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                   <div class="form-group">
                    <label>Social Goal</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="sg"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Strength</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="str"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Weakness</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="wee"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Opportunity</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="op"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div><div class="form-group">
                    <label>Threats</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="th"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Hobbies</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="ho"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                   <div class="form-group">
                    <label>Roll model name and why</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="roll"

                  />
                </div>
              </div>

                                      <div class="row justify-content-end">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- Basic with Icons -->
<!--                <div class="col-xxl">-->
<!--                  <div class="card mb-4">-->
<!--                    <div class="card-header d-flex align-items-center justify-content-between">-->
<!--                      <h5 class="mb-0">Basic with Icons</h5>-->
<!--                      <small class="text-muted float-end">Merged input group</small>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                      <form>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Name</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span id="basic-icon-default-fullname2" class="input-group-text"-->
<!--                                ><i class="bx bx-user"></i-->
<!--                              ></span>-->
<!--                              <input-->
<!--                                type="text"-->
<!--                                class="form-control"-->
<!--                                id="basic-icon-default-fullname"-->
<!--                                placeholder="John Doe"-->
<!--                                aria-label="John Doe"-->
<!--                                aria-describedby="basic-icon-default-fullname2"-->
<!--                              />-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Company</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span id="basic-icon-default-company2" class="input-group-text"-->
<!--                                ><i class="bx bx-buildings"></i-->
<!--                              ></span>-->
<!--                              <input-->
<!--                                type="text"-->
<!--                                id="basic-icon-default-company"-->
<!--                                class="form-control"-->
<!--                                placeholder="ACME Inc."-->
<!--                                aria-label="ACME Inc."-->
<!--                                aria-describedby="basic-icon-default-company2"-->
<!--                              />-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span class="input-group-text"><i class="bx bx-envelope"></i></span>-->
<!--                              <input-->
<!--                                type="text"-->
<!--                                id="basic-icon-default-email"-->
<!--                                class="form-control"-->
<!--                                placeholder="john.doe"-->
<!--                                aria-label="john.doe"-->
<!--                                aria-describedby="basic-icon-default-email2"-->
<!--                              />-->
<!--                              <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>-->
<!--                            </div>-->
<!--                            <div class="form-text">You can use letters, numbers & periods</div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone No</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span id="basic-icon-default-phone2" class="input-group-text"-->
<!--                                ><i class="bx bx-phone"></i-->
<!--                              ></span>-->
<!--                              <input-->
<!--                                type="text"-->
<!--                                id="basic-icon-default-phone"-->
<!--                                class="form-control phone-mask"-->
<!--                                placeholder="658 799 8941"-->
<!--                                aria-label="658 799 8941"-->
<!--                                aria-describedby="basic-icon-default-phone2"-->
<!--                              />-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 form-label" for="basic-icon-default-message">Message</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span id="basic-icon-default-message2" class="input-group-text"-->
<!--                                ><i class="bx bx-comment"></i-->
<!--                              ></span>-->
<!--                              <textarea-->
<!--                                id="basic-icon-default-message"-->
<!--                                class="form-control"-->
<!--                                placeholder="Hi, Do you have a moment to talk Joe?"-->
<!--                                aria-label="Hi, Do you have a moment to talk Joe?"-->
<!--                                aria-describedby="basic-icon-default-message2"-->
<!--                              ></textarea>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row justify-content-end">-->
<!--                          <div class="col-sm-10">-->
<!--                            <button type="submit" class="btn btn-primary">Send</button>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </form>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
 </div>
{% endblock %}