 {% extends 'student/base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}


<div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Profile Updation</h4>

              <!-- Basic Layout & Basic with Icons -->
              <div class="row">
                <!-- Basic Layout -->
                <div class="col-xxl">
                  <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="mb-0">Student Details</h5>
<!--                      <small class="text-muted float-end">Default label</small>-->
                    </div>
                    <div class="card-body">
                      <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-name">Student Photo</label>
                          <div class="col-sm-10">
                            <input type="file" name="image" class="form-control" id="basic-default-name" placeholder="Name" />
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-company">Roll Number </label>
                          <div class="col-sm-10">
                            <input
                              type="text" name="rollnumber"
                              class="form-control"
                              id="basic-default-company"
                              placeholder="Roll Number "
                            />
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-email">Date of Birth</label>
                          <div class="col-sm-10">
                            <div class="input-group input-group-merge">
                              <input
                                type="date" name="dob"
                                id="basic-default-email"
                                class="form-control"
                                placeholder="Date of Birth"
                                aria-label="john.doe"
                                aria-describedby="basic-default-email2"
                              />
<!--                              <span class="input-group-text" id="basic-default-email2">@example.com</span>-->
                            </div>
<!--                            <div class="form-text">You can use letters, numbers & periods</div>-->
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Age</label>
                          <div class="col-sm-10">
                            <input
                              type="text" name="age"
                              id="basic-default-phone"
                              class="form-control phone-mask"
                              placeholder="Age"
                              aria-label="658 799 8941"
                              aria-describedby="basic-default-phone"
                            />
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Blood Group</label>
                          <div class="col-sm-10">
                            <input
                              type="text"
                              id="basic-default-phone" name="group"
                              class="form-control phone-mask"
                              placeholder="Blood Group"
                              aria-label="658 799 8941"
                              aria-describedby="basic-default-phone"
                            />
                          </div>
                        </div>
                         <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Religion</label>
                          <div class="col-sm-10">
                            <input
                              type="text" name="religion"
                              id="basic-default-phone"
                              class="form-control phone-mask"
                              placeholder="Religion"
                              aria-label="658 799 8941"
                              aria-describedby="basic-default-phone"
                            />
                          </div>
                        </div>
                                    <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Caste</label>
                          <div class="col-sm-10">
                            <input
                              type="text" name="caste"
                              id="basic-default-phone"
                              class="form-control phone-mask"
                              placeholder="Caste"
                              aria-label="658 799 8941"
                              aria-describedby="basic-default-phone"
                            />
                          </div>
                        </div>
                                    <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Permanent Address</label>
                          <div class="col-sm-10">
                            <input
                              type="text" name="pa"
                              id="basic-default-phone"
                              class="form-control phone-mask"
                              placeholder="Permanent Address"
                              aria-label="658 799 8941"
                              aria-describedby="basic-default-phone"
                            />
                          </div>
                        </div>

                           <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Contact Address</label>
                          <div class="col-sm-10">
                            <input
                              type="text" name="ca"
                              id="basic-default-phone"
                              class="form-control phone-mask"
                              placeholder="Contact Address"
                              aria-label="658 799 8941"
                              aria-describedby="basic-default-phone"
                            />
                          </div>
                        </div>
                          <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Mobile Number</label>
                          <div class="col-sm-10">
                            <input
                              type="text" name="mn"
                              id="basic-default-phone"
                              class="form-control phone-mask"
                              placeholder="Mobile Number"
                              aria-label="658 799 8941"
                              aria-describedby="basic-default-phone"
                            />
                          </div>
                        </div>
                          <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-phone">Telephone Number</label>
                          <div class="col-sm-10">
                            <input
                              type="text" name="tn"
                              id="basic-default-phone"
                              class="form-control phone-mask"
                              placeholder="Telephone Number"
                              aria-label="658 799 8941"
                              aria-describedby="basic-default-phone"
                            />
                          </div>
                        </div>
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 col-form-label" for="basic-default-message">Student Under Guidence</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <select style="width: 100%;-->
<!--  padding: 12px 20px;-->
<!--  margin: 8px 0;-->
<!--  display: inline-block;-->
<!--  border: 1px solid #ccc;-->
<!--  border-radius: 4px;-->
<!--  box-sizing: border-box;" name="student" id="prisonerNumber" required>-->
<!--                      <option value="">Select Student</option>-->

<!--                                             {% for k in stu %}-->
<!--                                             <option value="{{ k.id }}">{{ k.user.first_name }}</option>-->
<!--                                      {% endfor %}-->
<!--                                   </select>-->
<!--                          </div>-->
<!--                        </div>-->
                        <div class="row justify-content-end">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">submit</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- Basic with Icons -->
<!--                <div class="col-xxl">-->
<!--                  <div class="card mb-4">-->
<!--                    <div class="card-header d-flex align-items-center justify-content-between">-->
<!--                      <h5 class="mb-0">Basic with Icons</h5>-->
<!--                      <small class="text-muted float-end">Merged input group</small>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                      <form>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Name</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span id="basic-icon-default-fullname2" class="input-group-text"-->
<!--                                ><i class="bx bx-user"></i-->
<!--                              ></span>-->
<!--                              <input-->
<!--                                type="text"-->
<!--                                class="form-control"-->
<!--                                id="basic-icon-default-fullname"-->
<!--                                placeholder="John Doe"-->
<!--                                aria-label="John Doe"-->
<!--                                aria-describedby="basic-icon-default-fullname2"-->
<!--                              />-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Company</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span id="basic-icon-default-company2" class="input-group-text"-->
<!--                                ><i class="bx bx-buildings"></i-->
<!--                              ></span>-->
<!--                              <input-->
<!--                                type="text"-->
<!--                                id="basic-icon-default-company"-->
<!--                                class="form-control"-->
<!--                                placeholder="ACME Inc."-->
<!--                                aria-label="ACME Inc."-->
<!--                                aria-describedby="basic-icon-default-company2"-->
<!--                              />-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span class="input-group-text"><i class="bx bx-envelope"></i></span>-->
<!--                              <input-->
<!--                                type="text"-->
<!--                                id="basic-icon-default-email"-->
<!--                                class="form-control"-->
<!--                                placeholder="john.doe"-->
<!--                                aria-label="john.doe"-->
<!--                                aria-describedby="basic-icon-default-email2"-->
<!--                              />-->
<!--                              <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>-->
<!--                            </div>-->
<!--                            <div class="form-text">You can use letters, numbers & periods</div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone No</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span id="basic-icon-default-phone2" class="input-group-text"-->
<!--                                ><i class="bx bx-phone"></i-->
<!--                              ></span>-->
<!--                              <input-->
<!--                                type="text"-->
<!--                                id="basic-icon-default-phone"-->
<!--                                class="form-control phone-mask"-->
<!--                                placeholder="658 799 8941"-->
<!--                                aria-label="658 799 8941"-->
<!--                                aria-describedby="basic-icon-default-phone2"-->
<!--                              />-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row mb-3">-->
<!--                          <label class="col-sm-2 form-label" for="basic-icon-default-message">Message</label>-->
<!--                          <div class="col-sm-10">-->
<!--                            <div class="input-group input-group-merge">-->
<!--                              <span id="basic-icon-default-message2" class="input-group-text"-->
<!--                                ><i class="bx bx-comment"></i-->
<!--                              ></span>-->
<!--                              <textarea-->
<!--                                id="basic-icon-default-message"-->
<!--                                class="form-control"-->
<!--                                placeholder="Hi, Do you have a moment to talk Joe?"-->
<!--                                aria-label="Hi, Do you have a moment to talk Joe?"-->
<!--                                aria-describedby="basic-icon-default-message2"-->
<!--                              ></textarea>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row justify-content-end">-->
<!--                          <div class="col-sm-10">-->
<!--                            <button type="submit" class="btn btn-primary">Send</button>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </form>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
 </div>
 {% endblock %}