
{% extends 'teacher/base.html' %}

{% load static %}


{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Overall Observation</h2>
                <div class="page_link">
                  <a href="index.html">Home</a>
<!--                  <a href="contact.html">Contact</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Contact Area =================-->
    <section class="contact_area section_gap">

        <div class="row">
          <div class="col-lg-3">
            <div class="contact_info">
<!--              <div class="info_item">-->
<!--                <i class="ti-home"></i>-->
<!--                <h6>California, United States</h6>-->
<!--                <p>Santa monica bullevard</p>-->
<!--              </div>-->
<!--              <div class="info_item">-->
<!--                <i class="ti-headphone"></i>-->
<!--                <h6><a href="#">00 (440) 9865 562</a></h6>-->
<!--                <p>Mon to Fri 9am to 6 pm</p>-->
<!--              </div>-->
<!--              <div class="info_item">-->
<!--                <i class="ti-email"></i>-->
<!--                <h6><a href="#">support@colorlib.com</a></h6>-->
<!--                <p>Send us your query anytime!</p>-->
<!--              </div>-->
            </div>
          </div>
          <div class="col-lg-9">
            <form
              class="row contact_form"
              action=""
              method="post"
              id="contactForm"
              novalidate="novalidate"
            >
               {% csrf_token %}
              <div class="col-md-6">
                <div class="form-group">
                    <label>Introvert or Extrovert</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="i" value="{{e.introvert_or_extrovert}}"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your name'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Abnormal Behaviour</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="a" value="{{e.abnormal_behaviour}}"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                <div class="form-group">
                    <label>abnormal health condition</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="he" value="{{e.health_condition}}"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                <div class="form-group">
                    <label>Emotional Stability</label>
                  <input
                    type="text"
                    class="form-control"
                    id="subject"
                    name="e" value="{{e.stability}}"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Place'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Hyperactive or not</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="h" value="{{e.hyperactive}}"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Personal hygiene or not</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="p" value="{{e.personal_hygiene}}"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                  <div class="form-group">
                    <label>Addiction to tv or any social media or not</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="add" value="{{e.addiction}}"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>








              </div>


            </form>
          </div>
        </div>
      </div>
    </section>
{% endblock %}