  <div class="col">
<h1>Counselling Feedback</h1>
      <table class="container text-center ml-auto w-75">


        <tr>
          <th><h6>Technical Skill</h6></th>
          <td><h6>{{i.tech_skill}}</h6></td>
        </tr>
        <tr>
          <th><h6>communication Skill</h6></th>
          <td><h6>{{i.comm_skill}}</h6></td>
        </tr>
        <tr>
          <th><h6>Interpersonal Skill</h6></th>
          <td><h6>{{i.inter_skill}}}</h6></td>
        </tr>
        <tr>
          <th><h6>Leadership Quality</h6></th>
          <td><h6>{{i.leader_quality}}</h6></td>
        </tr>
        <tr>
          <th><h6>Team Working</h6></th>
          <td><h6>{{i.team_working}}</h6></td>
        </tr>
        <tr>
          <th><h6>Co curricular Activities</h6></th>
          <td><h6>{{i.co_curricular}}</h6></td>
        </tr>
        <tr>
          <th><h6>Extra curricular Activities</h6></th>
          <td><h6>{{i.Extra_curricular}}</h6></td>
        </tr>

        <tr>
          <th><h6>Arts</h6></th>
          <td><h6>{{i.arts}}</h6></td>
        </tr>
        <tr>
          <th><h6>Sports And Games</h6></th>
          <td></h6>{{i.sports_games}}</h6></td>
        </tr>
        <tr>
          <th><h6>Behaviour</h6></th>
          <td></h6>{{i.behaviour}}</h6></td>
        </tr>
        <tr>
          <th><h6>Well Groomed Or Not</h6></th>
          <td></h6>{{i.well_groomed_not}}</h6></td>
        </tr>
          <tr>
          <th><h6>Enterpreneurship Skill</h6></th>
          <td></h6>{{i.enter_skill}}</h6></td>
        </tr>
          <tr>
          <th><h6>Suggestion For Improvement</h6></th>
          <td></h6>{{i.sugge_improve}}</h6></td>
        </tr>

      </table>
  </div>
