   <tr>
          <th><h6>Role Model</h6></th>
          <td></h6>{{p.role_model}}</h6></td>
        </tr>

        <tr>
          <th><h6>Qualifiaction</h6></th>
          <td></h6>{{q.qualification}}</h6></td>
        </tr>
        <tr>
          <th><h6>Score</h6></th>
          <td></h6>{{q.score}}</h6></td>
        </tr>

        <tr>
          <th><h6>Are you a hosteler</h6></th>
          <td></h6>{{s.hosteler_or_not}}</h6></td>
        </tr>
        <tr>
          <th><h6>Mode of Conveyance</h6></th>
          <td></h6>{{s.mode_of_conveyance}}</h6></td>
        </tr>
        <tr>
          <th><h6>Details of stay</h6></th>
          <td></h6>{{s.details}}</h6></td>
        </tr>